@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  @apply min-h-screen flex flex-col max-w-5xl mx-auto
}

/* Base button styles */
.btn {
  @apply py-2 px-4 font-semibold rounded-lg shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75;
}

/* Specific button styles */
.btn-submit {
  @apply bg-blue-500 text-white hover:bg-blue-700 focus:ring-blue-500;
}

.btn-cancel {
  @apply bg-gray-500 text-white hover:bg-gray-700 focus:ring-gray-500;
}

.disabled-link {
  pointer-events: none; /* Prevents clicking */
  color: grey; /* Grey out the link */
  cursor: default; /* Reset cursor */
}
